$link-color: #0066cd;
$nav-width: 216px;
$content-width: 1024px;

.label-lecture { background-color: #ECEBED; text-align: center; border-radius: 6px; width: 60px; }
.label-disc { background-color: #779ECC; text-align: center; border-radius: 6px; width: 60px; }
.label-hw { background-color: #E94C4B; text-align: center; border-radius: 6px; width: 60px; }
.label-proj { background-color: #FF8144; text-align: center; border-radius: 6px; width: 60px; }
.label-exam { background-color: #000000; text-align: center; border-radius: 6px; width: 60px; }
.label-lab { background-color: #F2C76E; text-align: center; border-radius: 6px; width: 60px; }
.label-survey { background-color: #15c791; text-align: center; border-radius: 6px; width: 60px; }